@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100&family=Beau+Rivage&family=Bebas+Neue&family=Comfortaa:wght@600&family=Festive&family=Grape+Nuts&family=Montserrat:wght@400;900&family=Ms+Madi&family=Nunito&family=Nunito+Sans&family=Open+Sans:wght@400;500;600&family=Oswald:wght@200;700&family=Poppins:wght@300;500&family=Quintessential&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@100;700;900&family=RocknRoll+One&family=Smooch+Sans:wght@200&family=Spectral:wght@700&family=Updock&family=Vollkorn:wght@500&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  scroll-behavior: smooth;
}

header {
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: #128596;
}

.wrap {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  display: flex;
}

.fig-btn {
  width: 100px;
  display: none;
  align-items: center;
  justify-content: center;
}

.img-logo img {
  width: 100px;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  position: relative;
  left: 30%;
  list-style: none;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

input {
  background-image: url("Imagens/lupa.png");
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 10%;
  margin-right: 20px;
  border-radius: 100px;
  padding: 8px;
  width: 180px;
  border: 2px solid black;
}

.img-fundo {
  background-image: url("Imagens/bob-plano.png");
  background-position: center;
  width: 100%;
  height: 35rem;
  background-repeat: no-repeat;
  background-color: #ffe4aa;
}

.box {
  padding: 40px;
  font-size: 2rem;
}

h1 {
  font-weight: 900;
  margin-bottom: 20px;
  color: #128596;
  letter-spacing: 4px;
}

.person a {
  color: #d56e0e;
}

.person ul {
  width: 300px;
  list-style: none;
}

.person li {
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
}

.person li:hover {
  background-color: #febd81;
}

.history {
  padding: 40px;
}

.box-text {
  margin: 0 auto;
  width: 500px;
  position: relative;
}

h2 {
  text-align: center;
  color: #128596;
  font-size: 50px;
}

.line {
  width: 150px;
  height: 3px;
  background-color: gray;
  position: absolute;
  right: 30px;
}

.all-card {
  display: flex;
  justify-content: space-evenly;
}

.all-card2 {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
}

.fig-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 400px;
  background-color: #128596;
  overflow: hidden;
}

.balao {
  opacity: 0.9;
  width: 100%;
  height: 200px;
  top: -200px;
  position: absolute;
  border-radius: 0px 0px 50px 50px;
  background-color: #bf7a59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  transition: 1s all;
}

.fig-card:hover .balao {
  top: 0px;
}

.balao h2 {
  color: #e2eff4;
  font-size: 2.5rem;
  text-align: initial;
}

.balao p {
  color: #e2eff4;
}

.img-lula {
  width: 300px;
  height: 420px;
}

.img-patrick {
  width: 280px;
  height: 350px;
}

.img-siri {
  width: 270px;
}

.img-plankton {
  width: 270px;
}

.caixa-amigos {
  text-align: center;
}

button {
  background-color: #bf7a59;
  color: white;
  width: 160px;
  padding: 14px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  bottom: 25px;
}

/* Aqui começa o @media */
@media (max-width: 820px) {
  .navigation {
    display: none;
  }

  .fig-btn {
    display: flex;
  }

  .img-logo {
    position: relative;
    right: 20px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  .person {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 100px;
  }

  .box {
    padding: 0px;
  }

  .person li {
    font-size: 28px;
    margin-bottom: 20px;
    padding: 16px;
  }
}
